.snippets {
  & [data-rehype-pretty-code-fragment] {
    margin: 24px auto;
  }

  & [data-rehype-pretty-code-title] {
    background: #525252;
    border-radius: 6px 6px 0 0px;
    padding: 4px 12px;
    color: #fafaf9;
    & + pre {
      border-radius: 0 0 6px 6px;
    }
  }

  & [data-highlighted-line] {
    background: #404040;
    & span {
      color: #fafaf9 !important;
    }
    box-sizing: border-box;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 4px;
      top: 0;
      bottom: 0;
      background: #0f766e;
    }
  }
}
