/**
 * PandaCSS CSS layers
 * View the full documentation at https://panda-css.com/docs/concepts/cascade-layers#layer-css
 */
@layer reset, base, tokens, recipes, utilities;

button {
  cursor: pointer;
}

html {
  @media (prefers-reduced-motion: no-preference) {
    scroll-behavior: smooth;
  }
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}
